<div class="container__small-cards">
    <div class="small-cards__picture">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqs7p-mWH9leBb7owth1I9e1A8G70Zo-bhi99PaYQNp8yPgAc0hEcl8Ku7f8OVYqkS440&usqp=CAU"
        alt="Placeholder"
      >
    </div>

    <div class="small-cards__description">
      <div class="samll-cards__date">
        <span>December 5, 2022</span>
      </div>

      <div class="small-cards__text">
        <h3>Angular CLI é uma ferramenta de linha de comando que facilita a criação de diversos artefatos necessários em uma aplicação Angular.</h3>
      </div>
    </div>



</div>
<hr>
