@media screen and (max-width: 992px) {
  .container__small-cards {
    width: fit-content;
  }
  .small-cards-content {
    width: fit-content;
    height: auto;
    text-align: justify;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

}


