.container__main-card {
  width: 50%;
  height: auto;
  text-align: justify;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}
.main-card__picture > img {
  width: 100%;
  min-width: 400px
}
.main-car__title h2 {
  margin-bottom: 0;
}
.container__main-card span, p > a{
  color: gray;
}
.main-card__date {
  font-size: smaller;
}
