<div class="container__main-card">

  <div class="main-card__picture">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqs7p-mWH9leBb7owth1I9e1A8G70Zo-bhi99PaYQNp8yPgAc0hEcl8Ku7f8OVYqkS440&usqp=CAU"
      alt="Placeholder"
      height="350rem"
    >
  </div>

  <div class="main-card__date">
    <span>December 05, 2022</span>
  </div>

  <div class="main-car__title">
    <h2><a href="#">Afinal, o que é o Angular e para que serve?</a></h2>
  </div>

  <div class="main-card__text">
    <p>
      <a href="#">
        O Angular é um framework JavaScript que simplifica não apenas a construção da interface de usuário, mas também o desenvolvimento de aplicações client-side diferenciadas, sejam elas para a web, mobile ou desktop. O Angular usa a linguagem TypeScript como padrão, ao invés do JavaScript. Então recomenda-se aprofundar os estudos sobre essa linguagem.
      </a>
    </p>
  </div>

</div>
