@media screen and (max-width: 992px){
  .articles {
    display: flex;
    flex-direction: column;
    justify-content: justify;
  }
}
@media screen and (max-width: 630px) {
  .articles {
    font-size: smaller;
  }
}
