<app-menu-title></app-menu-title>

<div class="articles">

  <div class="articles__main">
    <app-main-card
      Id="1"
      photoCover="https://images.pexels.com/photos/6190327/pexels-photo-6190327.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      cardTitle="Afinal, o que é o Angular e para que serve?"
      cardText="O Angular é um framework JavaScript que simplifica não apenas a construção da interface de usuário, mas também o desenvolvimento de aplicações client-side diferenciadas, sejam elas para a web, mobile ou desktop. O Angular usa a linguagem TypeScript como padrão, ao invés do JavaScript. Então recomenda-se aprofundar os estudos sobre essa linguagem."
    ></app-main-card>
  </div>

  <div class="articles__others">
    <app-small-card
      Id="2"
      smallCardPhotoCover="https://images.pexels.com/photos/97077/pexels-photo-97077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      smallCardDiscription="Angular CLI é uma ferramenta de linha de comando que facilita a criação de diversos artefatos necessários em uma aplicação Angular."
      smallCardPhotoAlt="Imagem de tela de computador com código desfocado"
    ></app-small-card>
    <app-small-card
      Id="3"
      smallCardPhotoCover="https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg?auto=compress&cs=tinysrgb&w=600"
      smallCardDiscription="Com o panorama que já temos sobre a programação com o Angular, podemos a partir daqui começar a escrever SPAs com essa tecnologia. Mas o que é SPA?"
      smallCardPhotoAlt="Imagem de uma mulher com reflexo de código em todo o ambiente"
    ></app-small-card>
    <app-small-card
      Id="4"
      smallCardPhotoCover="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&w=600"
      smallCardDiscription="Angular e TypeScript: qual a relação?"
      smallCardPhotoAlt="Imagem de um ocúlos sobre um notebook com código na tela"
    ></app-small-card>
  </div>

</div>
