<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/cristiemim9/" target="_blank">LInkedin</a></li>
    <li><span>|</span></li>
    <li><a href="https://github.com/Tiemi9" target="_blank">GitHub</a></li>
    <li><span>|</span></li>
    <li><a href="https://web.dio.me/users/cristina_tiemi_social?tab=skills" target="_blank">Dio.me</a></li>
    <li><span>|</span></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Angular_getting_started" target="_blank">MDN</a></li>
  </ul>
</div>
