/* You can add global styles to this file, and also import other style files */
* {
  margin: 0.5;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(51, 51, 51);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-decoration: none;
}
